@import "_fonts";
@import "_libs";
@import "_vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder {
	color: #848484;
	font-size: 14px;
	font-family: $default-font;
	opacity: 1;
}

*:-moz-placeholder {
	color: #848484;
	font-size: 14px;
	font-family: $default-font;
	opacity: 1;
}

*::-moz-placeholder {
	color: #848484;
	font-size: 14px;
	font-family: $default-font;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #848484;
	font-size: 14px;
	font-family: $default-font;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	margin: 0;
	overflow-x: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

::selection {
	background-color: $accent;
	color: #fff;
}

a {
	text-decoration: none;
	color: $second-color;
}

ul {
	padding: 0;
	margin: 0;
}

#preloader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 3000000000000000000000000;
}

.sk-wave {
  width: 6em;
  height: 4em;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
.sk-wave .sk-rect {
  background-color: $accent;
  height: 100%;
  width: .5em;
  display: inline-block;
  -webkit-animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
          animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect-1 {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.sk-wave .sk-rect-2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-wave .sk-rect-3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-wave .sk-rect-4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-wave .sk-rect-5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

@-webkit-keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.wrapper {
	display: flex;
	min-height: 100%;
}

.mobile-header {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 1000000;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: $accent;
	z-index: 1000000;
}

.mobile-logo {
	margin-left: 10px;
}

.open-link {
	color: $second-color;
	font-size: 28px;
	margin-right: 20px;

	&:hover, &:active, &:focus {
		color: $second-color;
	}
}

.mobile-menu {
	position: absolute;
	width: 100%;
	top: -300px;
	transition: all .3s ease;
	z-index: -1;
}

.opened {
	display: block;
	top: 60px;
	transition: all .3s ease;
}

.sidebar {
	display: block;
}

.side-wrap {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $second-color;
	width: 300px;
	height: 100vh;
	z-index: 100;
}

.side-shadow {
	-webkit-box-shadow: 10px 0px 38px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px 38px 0px rgba(0,0,0,0.6);
	box-shadow: 10px 0px 38px 0px rgba(0,0,0,0.6);
}

.logo {
	max-height: 125px;
	text-align: center;
	font-size: 37px;
	background-color: #fff;
	h2 {
		margin: 0;
	}
}

.menu-list {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.menu-item {
	background: rgba(46,54,58,1);
	background: -moz-linear-gradient(top, rgba(46,54,58,1) 0%, rgba(51,59,63,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,54,58,1)), color-stop(100%, rgba(51,59,63,1)));
	background: -webkit-linear-gradient(top, rgba(46,54,58,1) 0%, rgba(51,59,63,1) 100%);
	background: -o-linear-gradient(top, rgba(46,54,58,1) 0%, rgba(51,59,63,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,54,58,1) 0%, rgba(51,59,63,1) 100%);
	background: linear-gradient(to bottom, rgba(46,54,58,1) 0%, rgba(51,59,63,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e363a', endColorstr='#333b3f', GradientType=0 );
	border-bottom: 1px #293034 solid;
	height: 60px;

	&.active {
		background: rgba(49,189,187,1);
		background: -moz-linear-gradient(top, rgba(49,189,187,1) 0%, rgba(24,163,161,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,189,187,1)), color-stop(100%, rgba(24,163,161,1)));
		background: -webkit-linear-gradient(top, rgba(49,189,187,1) 0%, rgba(24,163,161,1) 100%);
		background: -o-linear-gradient(top, rgba(49,189,187,1) 0%, rgba(24,163,161,1) 100%);
		background: -ms-linear-gradient(top, rgba(49,189,187,1) 0%, rgba(24,163,161,1) 100%);
		background: linear-gradient(to bottom, rgba(49,189,187,1) 0%, rgba(24,163,161,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31bdbb', endColorstr='#18a3a1', GradientType=0 );
		border-bottom: 1px #169291 solid;
	}
}

.menu-link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-weight: lighter;
	color: #fff;
	font-size: 18px;
	text-decoration: none;

	&:hover, &:active, &:focus {
		color: #eee;
	}

	span {
		margin-right: 25px;
	}
}

.copyright {
	font-size: 12px;
	font-weight: 100;
	color: #848484;
	float:right;
	margin-top: 20px;
	margin-right: 25px;
}

.main {
	margin-left: 300px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 30px;
}

.main-main {
	padding-bottom: 0;
	background-color: $second-color;
}

.main-item {
	height: 250px;
	background-size: cover !important;
	background-position: center !important;

	&:hover .hover {
		display: flex;
	}
}

.hover {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: $accent;
	opacity: .9;
	color: #fff;
	transition: all 3s;
}

.main-item_hover-title {
	font-size: 24px;
	font-weight: lighter;
	text-shadow: 1px 1px 3px #000;
}

.main-item_hover-desc {
	font-size: 12px;
	font-weight: lighter;
	border-bottom: 1px #fff solid;
	padding-bottom: 15px;
	text-shadow: 1px 1px 3px #000;
}

.hover-link {
	color: #fff;
	font-size: 18px;
	border: 1px #fff solid;
	border-radius: 50%;
	margin-top: 18px;
	padding: 10px 16px 8px 16px;

	&:hover {
		background-color: #fff;
		color: $accent;
	}
}

.footer-mobile {
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: $second-color;
	padding-bottom: 20px;
}

.main-border {
	border: 25px #b4b7b8 solid;
}

.mycol {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.project-pictures {
	display: block;
	margin-bottom: 14px;
}

.project-pic {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 350px;
}

.owl-dots {
	position: absolute;
    bottom: 0px;
    right: 0;
}

.owl-dot {
	height: 13px;
	width: 21px;
	margin-right: 7px;
	background-color: #b5b5b5 !important;
	border: 1px #e1e1e1 solid !important;

	&.active {
		background-color: $accent !important;
		border: 1px $second-color solid !important;
	}
}

.pr-caption {
	font-size: 24px;
	font-weight: 300;
}

.pr-desc {
	font-size: 18px;
	font-weight: 300;
	margin-top: 5px;
	color: #a3a3a3;
}

.info-block-in {
	display: flex;
	align-items: center;
	border-bottom: 1px #e5e5e5 solid;
	margin-top: 13px;
	padding-bottom: 14px;
	i {
		font-size: 12px;
		color: $accent;
		border: 1px $accent solid;
		border-radius: 50%;
		padding: 8px;
	}
}

.info-block-in-text {
	margin-left: 13px;
	font-size: 14px;
	font-weight: 400;
	color: #848484;
}

.tags {
	margin-top: 16px;
}

.tags-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.tags-item {
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	border: 1px #dbdbdb solid;
	border-radius: 8%;
	padding: 5px 11px;
	a {
		color: #a3a3a3;
	}
}

.project__gallery-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.project__gallery-image {
	display: flex;
	justify-content: center;
	width: 78px;
	height: 78px;
	margin-right: 16px;
	margin-bottom: 12px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}

.project__features-list {
	margin-top: 10px;
}

.project__features-item {
	display: flex;
	color: #848484;
	font-size: 14px;
}

.project__features-icon {
	margin-right: 8px;
}

.about__info {
	margin-top: 10px;
}

.my__skills-item {
	margin-top: 14px;
}

.my__skills-status {
	display: flex;
	justify-content: space-between;
}

.my__skills-text {
	font-size: 15px;
	font-weight: 300;
	color: #727272;
}

.my__skills-progress {
	height: 34px;
	border: 1px #e2e2e2 solid;
}

.my__skills-unit {
	background-color: #e2e2e2;
	height: 100%;
}

.main-bg {
	background-color: #b4b7b8;
}

.blog-item {
	position: relative;
	display: block;
	width: 294px;
	background-color: #fff;
	overflow: hidden;
	margin-right: 25px;
}

.blog-pic {
	height: 194px;
	background-size: cover;
	background-position: center;
}
	
.blog__post__info-texts {
	margin-top: 25px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 71px;
	overflow: hidden;
}

.blog__post__info-title {
	font-size: 18px;
	font-weight: 350;
}

.blog__post__info-introtext {
	color: #9c9c9c;
	font-size: 14px;
	font-weight: 300;
}

.blog__post__info-numbers {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 18px;
	height: 51px;
	border-top: 1px #e3e3e3 solid;
}

.blog__post__info-coments, .blog__post__info-date {
	display: flex;
	color: #9a9a9a;
	font-size: 14px;
	font-weight: 300;
}

.blog__post__info-coments {
	margin-right: 17px;
}

.blog__post__info-icon {
	margin-right: 8px;
}

.main-contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.return__form {
	background-color: #fff;
	width: 70%;
	padding: 15px;
}

.inputs {
	margin-top: 15px;
}

.input-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.input__before {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	border: 1px #eaeaea solid;
	border-right: none;
	height: 60px;
	color: $accent;

	i {
		border: 1px $accent solid;
		border-radius: 50%;
		padding: 10px 11px;
		font-size: 12px;
	}
}

.input__text {
	height: 60px;
	width: 80%;
	border: 1px #eaeaea solid;
	padding-left: 17px;
}

.col-padding {
	padding-left: 15px !important;
}

.textarea {
	width: 100%;
	height: calc(100% - 10px);
	border: 1px #eaeaea solid;
	padding: 15px;
}

.submit-button {
	width: 100%;
	height: 60px;
	background-color: $accent;
	border: none;
	span {
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
	}
}

.main-temp {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cbalink {
	display: none;
}

@import "media" // Всегда в конце
